footer{
    height:100%;
    position: relative;
    background-color: $gray;
    @media(min-width: $sm){
        background-color: $white;
        height: 350px;
    }
    &:before{
        display:none;
        @media(min-width: $sm){
            display: block;
            position: absolute;
            content: '';
            width: 50%;
            height: 350px;
            top:0;
            left:0;
            background-color: $gray;
            z-index: 0;
        }
    }
    .list-wrapper{
        ul {
            list-style: none;
            padding:0;
            width: 250px;
        }
        li{
            color: $gray-txt;
            font-size: 12px;
            line-height: 34px;
            font-family: $font-light;
        }
    }
}